@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to jenkins world!</h1>
    <p>Learn about <a href="https://www.jenkins.io">building、testing、deploying Web apps with Jenkins</a>.</p>
    <h4>学习资料</h4>
    <div>
        <p>官网：<a href="https://www.jenkins.io/zh/">https://www.jenkins.io/zh/</a></p>
        <p>w3school：<a href="https://www.w3cschool.cn/jenkins/jenkins-5h3228n2.html">https://www.w3cschool.cn/jenkins/jenkins-5h3228n2.html</a></p>
    </div>    
</div>
